{% extends "layout.html" %}

{% block heading %}
<h1>Welcome to first page !!!</h1>
{% endblock %}


{% block body %}
    <p>A paragraph is a series of sentences that are organized and coherent, and are all related to a single topic. Almost
        every piece of writing you do that is longer than a few sentences should be organized into paragraphs. This is
        because
        paragraphs show a reader where the subdivisions of an essay begin and end, and thus help the reader see the
        organization
        of the essay and grasp its main points.
    </p>
    <ul>
        {% for note in notes %}
        <li>{{ note.id }} {{note.comment}}</li>
        {% endfor %}
    </ul>
    <form action="{{ url_for('index')}}" method="POST">
        <input type="text" name="note" placeholder="add comment here">
        <button>Submit</button>
    </form>
    
   

    <a href="{{ url_for('add') }}"> Goto second page </a>

{% endblock %}